/* .team-container {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 0.5fr 1.5fr 0.5fr 1fr 0.5fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 4 / 2 / 5 / 3;
}

img {
  width: 100%;
  height: auto;
} */
