body {
  font-family: "Arial Rounded MT Bold";
}

.image {
  width: 100px;
  height: auto;
  border-radius: 10%;
}

.user-image {
  width: 300px;
  height: auto;
  border-radius: 10%;
}

.opponent-image {
  width: 300px;
  height: auto;
  border-radius: 10%;
  float: right;
}

.opp-poke-name {
  float: center;
  text-align: center;
}

.div-cont-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 2 / 2 / 3;
}

.avatar {
  vertical-align: baseline;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid;
  border-width: 1px;
  border-color: black;
}

.attack {
    background-color: blue;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: "Arial Rounded MT Bold";
    font-size: 13px;
    margin: 2px;
}

#battle-feed {
  position:absolute;
  bottom:0;
  left:0;
}

#vs {
  position: absolute;
  right: 400px;
  top: 200px;
  font-size: 72pt;
}
