body {
  background: url('./image/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.image {
  width: 100px;
  height: auto;
  border-radius: 10%;
}

.user-image {
  width: 300px;
  height: auto;
  border-radius: 10%;
}

.opponent-image {
  width: 300px;
  height: auto;
  border-radius: 10%;
  float: right;
}

.opp-poke-name {
  float: center;
  text-align: center;
}

.div-cont-right {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 2 / 2 / 3;
}
